/*=============================== Google fonts link - Poppins ===============================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/*=============================== Css variables ===============================*/
:root {
  /*======== Colors ========*/
  /* Primary */
  --clr-primary-400: hsl(0, 78%, 62%);
  --clr-primary-300: hsl(180, 62%, 55%);
  --clr-primary-200: hsl(34, 97%, 64%);
  --clr-primary-100: hsl(212, 86%, 64%);

  /* Neutral */
  --clr-neutral-900: hsl(234, 12%, 34%);
  --clr-neutral-500: hsl(229, 6%, 66%);
  --clr-neutral-100: hsl(0, 0%, 98%);

  /*======== Typography ========*/
  /* Fonts */
  --ff-body: 'Poppins', sans-serif;

  /* Font weights */
  --fw-extra-light: 200;
  --fw-regular: 400;
  --fw-semi-bold: 700;

  /* Font sizes */
  --fs-400: 2rem;
  --fs-300: 1.5rem;
  --fs-200: 1rem;
  --fs-100: .938rem;
}

/* Responsive typography */
/* 768px wide */
@media (max-width: 48em) {
  :root {
    /* Font sizes */
    --fs-400: 1.5rem;
    --fs-300: 1.25rem;
  }
}

/*=============================== Html reset ===============================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*=============================== Base styles ===============================*/
body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--clr-neutral-100);
  font-family: var(--ff-body);
  line-height: 1.1;
}

html {
  font-size: 100%;
}

/*=============================== Four card feature section ===============================*/
.main__content {
  max-width: 1024px;
  margin: 0 auto;
  width: 90%;
  display: grid;
  padding: 1.25rem 0;
}

.text__box {
  max-width: 600px;
  width: 100%;
  text-align: center;
  justify-self: center;
  margin-bottom: 2rem;
}

.main__heading {
  font-size: var(--fs-400);
  font-weight: var(--fw-extra-light);
  color: var(--clr-neutral-500);
  margin-bottom: .5rem;
}

.main__title {
  font-size: var(--fs-400);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-neutral-900);
  margin-bottom: 1rem;
}

.main__description {
  font-weight: var(--fw-regular);
  line-height: 1.5;
  color: var(--clr-neutral-500);
}

.card__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.5rem;
  gap: 1.5rem;
  position: relative;
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  box-shadow: 0 0 25px rgba(0 0 0 / 0.075);
  padding: 1.75rem 2rem 1.5rem;
  border-radius: 10px;
  border-top: 5px solid var(--clr);
  display: grid;
}

.card__heading {
  font-size: var(--fs-300);
  color: var(--clr-neutral-900);
  font-weight: var(--fw-semi-bold);
  margin-bottom: .75rem;
}

.card__description {
  line-height: 1.5;
  color: var(--clr-neutral-500);
}

.card__image {
  padding-top: 2rem;
  justify-self: end;
}

/*=============================== Special card classes ===============================*/
/* 912px wide */
@media (min-width: 57em) {

  /*=============================== Four card feature section ===============================*/
  .card__container .card:nth-child(1) {
    grid-column: 2;
  }

  .card__container .card:nth-child(2) {
    grid-row: 1 / span 3;
    grid-column: 3;
    align-self: center;
  }

  .card__container .card:nth-child(4) {
    grid-row: 1 / span 3;
    grid-column: 1;
    align-self: center;
  }
}

/*=============================== Media queries ===============================*/
/* 912px wide */
@media (max-width: 57em) {

  /*=============================== Four card feature section ===============================*/
  .card__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 496px wide */
@media (max-width: 41em) {

  /*=============================== Four card feature section ===============================*/
  .card__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    padding: 1.75rem 1.5rem 1.5rem;
  }

  .card__description {
    font-size: var(--fs-100);
  }

  /*=============================== Special card classes ===============================*/
  .card__container .card:nth-child(1) {
    grid-row: 2;
  }

  .card__container .card:nth-child(3) {
    grid-row: 3;
  }

  .card__container .card:nth-child(4) {
    grid-row: 1;
  }
}